{% extends "./base.html" %}
{% block content %}
<style>
  .selectbox1{
    margin-top:20px;
  }
  @media only screen and (max-width: 600px) {
      .selectbox1 {
        width:90%;
        margin-left:auto;
        margin-right:auto;
      }
      .living_words{
        width:90%;
        margin-top:10px;
        margin-left:auto;
        margin-right:auto;
      }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .selectbox1 {
      width:20%;
      margin-left:220px
     }
     .living_words{
      width:40%;
      margin-left:220px
     }
  }


</style>
<div class="selectbox1">
  <form action="" method="post">
    {% csrf_token %}
    <select class="form-select" name="book" id="book" aria-label="Default select example">
    <option selected>Select Book</option>
    <option value=1>Genesis</option>
    <option value=2>Exodus</option>
    <option value=3>Leviticus</option>
    <option value=4>Numbers</option>
    <option value=5>Deuteronomy</option>
    <option value=6>Joshua</option>
    <option value=7>Judges</option>
    <option value=8>Ruth</option>
    <option value=9>1 Samuel</option>
    <option value=10>2 Samuel</option>
    <option value=11>1 Kings</option>
    <option value=12>2 Kings</option>
    <option value=13>1 Chronicles</option>
    <option value=14>2 Chronicles</option>
    <option value=15>Ezra</option>
    <option value=16>Nehemiah</option>
    <option value=17>Esther</option>
    <option value=18>Job</option>
    <option value=19>Psalm</option>
    <option value=20>Proverbs</option>
    <option value=21>Ecclesiastes</option>
    <option value=22>Song of Solomon</option>
    <option value=23>Isaiah</option>
    <option value=24>Jeremiah</option>
    <option value=25>Lamentations</option>
    <option value=26>Ezekiel</option>
    <option value=27>Daniel</option>
    <option value=28>Hosea</option>
    <option value=29>Joel</option>
    <option value=30>Amos</option>
    <option value=31>Obadiah</option>
    <option value=32>Jonah</option>
    <option value=33>Micah</option>
    <option value=34>Nahum</option>
    <option value=35>Habakkuk</option>
    <option value=36>Zephaniah</option>
    <option value=37>Haggai</option>
    <option value=38>Zechariah</option>
    <option value=39>Malachi</option>
    <option value=40>Matthew</option>
    <option value=41>Mark</option>
    <option value=42>Luke</option>
    <option value=43>John</option>
    <option value=44>Acts</option>
    <option value=45>Romans</option>
    <option value=46>1 Corinthians</option>
    <option value=47>2 Corinthians</option>
    <option value=48>Galatians</option>
    <option value=49>Ephesians</option>
    <option value=50>Philippians</option>
    <option value=51>Colossians</option>
    <option value=52>1 Thessalonians</option>
    <option value=53>2 Thessalonians</option>
    <option value=54>1 Timothy</option>
    <option value=55>2 Timothy</option>
    <option value=56>Titus</option>
    <option value=57>Philemon</option>
    <option value=58>Hebrews</option>
    <option value=59>James</option>
    <option value=60>1 Peter</option>
    <option value=61>2 Peter</option>
    <option value=62>1 John</option>
    <option value=63>2 John</option>
    <option value=64>3 John</option>
    <option value=65>Jude</option>
    <option value=66>Revelation</option>
    </select>
    <select class="form-select" name="language" id="language" aria-label="Default select example" style="margin-top:20px">
      <option selected>Select Language</option>
      <option value=1>English</option>
      <option value=2>Tamil</option>
    </select>
    <div class="mb-3" style="margin-top:20px">
      <input type="number" name="chapter" id="chapter" class="form-control" placeholder="chapter">
    </div>
    <div class="mb-3">
      <input type="number" name="from" id="from" class="form-control" placeholder="verse from">
    </div>
    <div class="mb-3">
      <input type="number" name="to" id="to" class="form-control" placeholder="verse to">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% if data %}
<div class="living_words">
  <h4>{{book}} {{chapter}} : {{verse_from}} - {{verse_to}}</h4>
  {{ data }}
</div>
{% endif %}
{% endblock %}

